<div id="wrapper" class="business-bg">
  
  <app-top-nav></app-top-nav>





<div class="container-fluid sign-form business-bg">
<div class="row">



<div class="wrapper">
    
  <div class="side-bg">
    <app-side-menu></app-side-menu>
  </div>
  
  
  
  <div id="content">
                 <button type="button" id="sidebarCollapse" class="navbar-btn">
                      <span></span>
                      <span></span>
                      <span></span>
                  </button>
                

             
          
    <div class="form-container">

<div class="row top-menu pd-top-70 bg-2">


<div class="col-lg-3 col-md-6 col-sm-3">
                  <div class="panel panel-blue">
                      <div class="panel-heading">
                          <div class="row">
                              <div class="col-sm-3">
                                  <i class="fa-address-book-o"></i>
                              </div>
                              <div class="col-sm-9 text-right">
                                  <div class="huge">24</div>
                                  <div>New Comments!</div>
                              </div>
                          </div>
                      </div>
                      <a href="#">
                          <div class="panel-footer">
                              <span class="pull-left">View Details</span>
                              <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
                              <div class="clearfix"></div>
                          </div>
                      </a>
                  </div>
              </div>
      
      
      
      
      
      <div class="col-lg-3 col-md-6 col-sm-3">
                  <div class="panel panel-green">
                      <div class="panel-heading">
                          <div class="row">
                              <div class="col-sm-3">
                                  <i class="glyphicon glyphicon-menu-hamburger"></i>
                              </div>
                              <div class="col-sm-9 text-right">
                                  <div class="huge">43</div>
                                  <div>New Tasks!</div>
                              </div>
                          </div>
                      </div>
                      <a href="#">
                          <div class="panel-footer">
                              <span class="pull-left">View Details</span>
                              <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
                              <div class="clearfix"></div>
                          </div>
                      </a>
                  </div>
              </div>
      
      
      
      <div class="col-lg-3 col-md-6 col-sm-3">
                  <div class="panel panel-yellow">
                      <div class="panel-heading">
                          <div class="row">
                              <div class="col-sm-3">
                                  <i class="glyphicon glyphicon-download"></i>
                              </div>
                              <div class="col-sm-9 text-right">
                                  <div class="huge">234</div>
                                  <div>New Orders!</div>
                              </div>
                          </div>
                      </div>
                      <a href="#">
                          <div class="panel-footer">
                              <span class="pull-left">View Details</span>
                              <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
                              <div class="clearfix"></div>
                          </div>
                      </a>
                  </div>
              </div>
      
      
      
      
      <div class="col-lg-3 col-md-6 col-sm-3">
                  <div class="panel panel-red">
                      <div class="panel-heading">
                          <div class="row">
                              <div class="col-sm-3">
                                  <i class="fa fa-support fa-5x"></i>
                              </div>
                              <div class="col-sm-9 text-right">
                                  <div class="huge">87</div>
                                  <div>Support Tickets!</div>
                              </div>
                          </div>
                      </div>
                      <a href="#">
                          <div class="panel-footer">
                              <span class="pull-left">View Details</span>
                              <span class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
                              <div class="clearfix"></div>
                          </div>
                      </a>
                  </div>
              </div>
      
      
      
      

</div>

 <div class="row">
 <div class="col-sm-5">


</div>
</div>

</div>
         
      </div>
  </div>

</div>
</div>
</div>