<div id="wrapper" class="business-bg">
  
  <app-top-nav></app-top-nav>




<div class="container-fluid sign-form business-bg">
<div class="row">



<div class="wrapper">

    <div class="side-bg">
    <app-side-menu></app-side-menu>
  </div>
  
  
  
  
  
  <div id="content">
                 <button type="button" id="sidebarCollapse" class="navbar-btn">
                      <span></span>
                      <span></span>
                      <span></span>
                  </button>
                

             
          
    <div class="form-container">

<div class="row d-flex justify-content-center mb-3">

 <div class="col-sm-10">
 
 <h3 class="my-title"><span class="clr">A</span>dd <span class="clr">B</span>usiness</h3>

<form #contactDetailForm="ngForm" (ngSubmit)="onSubmit()">

  <div class = "alert alert-danger" *ngIf = "errorMessage">{{errorMessage}}</div>

  <div class="row add-business pd-b-20">

<div class="col-sm-12">

    <h3 class="my-title-3"><span class="clr">B</span>usiness <span class="clr">D</span>etails</h3>
  
  
  <div class="col-sm-12">
  <div class="form-group">
    <label>Company Name</label>
    <input type="text" required #cname="ngModel" [class.is-invalid]="cname.invalid && cname.touched" name="CompanyName" class="form-control" [(ngModel)] ="addNewBusiness.companyName" >
    <small class="text-danger" [class.d-none]="cname.valid || cname.untouched">Company Name is required</small>
  </div>  
  </div> 

 <div class="col-sm-12">
  <div class="form-group">
    <label>Business Type</label>
    <select required class="custom-select" #type ="ngModel" [class.is-invalid]="type.invalid && type.touched" name="businessType" [(ngModel)] ="addNewBusiness.businessType">
      <option value="">Select</option>
      <option *ngFor="let type of businessTypes"  [ngValue]="type.id">{{type.typeName}}</option>
    </select>
    <small class="text-danger" [class.d-none]="type.valid || type.untouched">Please select a business type</small>
  </div>
  </div>
  </div>

 <div class="col-sm-12">
<h3 class="my-title-3 mrg-t-30"><span class="clr">C</span>otact <span class="clr">D</span>etails</h3>
</div>

 <div class="col-sm-6">
  <div class="form-group">
    <label>Mobile No.</label>
    <input type="text" required #mobile="ngModel" [class.is-invalid]="mobile.invalid && mobile.touched" name="MobileNumber" class="form-control" [(ngModel)] ="addNewBusiness.mobileNuber" >
    <small class="text-danger" [class.d-none]="mobile.valid || mobile.untouched">Mobile No. is required</small>
  </div>  
  </div>  

 <div class="col-sm-6">
  <div class="form-group">
    <label>Landline No.</label>
    <input type="text" required #landline="ngModel" [class.is-invalid]="landline.invalid && landline.touched" name="LandlineNumber" class="form-control" [(ngModel)] ="addNewBusiness.landlineNumber" >
    <small class="text-danger" [class.d-none]="landline.valid || landline.untouched">Landline No. is required</small>
  </div>
  </div>

 <div class="col-sm-12">
  <div class="form-group">
    <label>Contact Persion Name</label>
    <input type="text" required #cpName="ngModel" [class.is-invalid]="cpName.invalid && cpName.touched" name="ContactPersonName" class="form-control" [(ngModel)] ="addNewBusiness.contactPersonName" >
    <small class="text-danger" [class.d-none]="cpName.valid || cpName.untouched">Company Name is required</small>
  </div>
  </div>

 <div class="col-sm-6">
  <div class="form-group">
    <label>Country</label>
    <select required class="custom-select" #country ="ngModel" [class.is-invalid]="country.invalid && country.touched" name="Country" [(ngModel)] ="addNewBusiness.country">
      <option value="">Select</option>
      <option *ngFor="let country of countries"  [ngValue]="country.id">{{country.countryName}}</option>
    </select>
    <small class="text-danger" [class.d-none]="country.valid || country.untouched">Please select a country</small>
  </div>
  </div>

 <div class="col-sm-6">
  <div class="form-group">
    <label>State</label>
    <select required class="custom-select" #state ="ngModel" [class.is-invalid]="state.invalid && state.touched" name="State" [(ngModel)] ="addNewBusiness.state">
      <option value="">Select</option>
      <option *ngFor="let state of states"  [ngValue]="state.id">{{state.stateName}}</option>
    </select>
    <small class="text-danger" [class.d-none]="state.valid || state.untouched">Please select a state</small>
  </div>
  </div>

 <div class="col-sm-6">
  <div class="form-group">
    <label>City</label>
    <select required class="custom-select" #city ="ngModel" [class.is-invalid]="city.invalid && city.touched" name="City" [(ngModel)] ="addNewBusiness.city">
      <option value="">Select</option>
      <option *ngFor="let city of cities"  [ngValue]="city.id">{{city.cityName}}</option>
    </select>
    <small class="text-danger" [class.d-none]="city.valid || city.untouched">Please select a city</small>
  </div>
  </div>

 <div class="col-sm-6">
  <div class="form-group">
    <label>Area</label>
    <select required class="custom-select" #area ="ngModel" [class.is-invalid]="area.invalid && area.touched" name="Area" [(ngModel)] ="addNewBusiness.area">
      <option value="">Select</option>
      <option *ngFor="let area of areas"  [ngValue]="area.id">{{area.areaName}}</option>
    </select>
    <small class="text-danger" [class.d-none]="area.valid || area.untouched">Please select a area</small>
  </div>
  </div>


<div class="col-sm-12">
  <div class="form-group">
    <label>Address</label>
    <input type="text" required #address="ngModel" [class.is-invalid]="address.invalid && address.touched" name="Address" class="form-control" [(ngModel)] ="addNewBusiness.address" >
    <small class="text-danger" [class.d-none]="address.valid || address.untouched">Address is required</small>
  </div>
  </div>


 <div class="col-sm-6">
  <div class="form-group">
    <label>Zip</label>
    <select required class="custom-select" #zip ="ngModel" [class.is-invalid]="zip.invalid && zip.touched" name="Zip" [(ngModel)] ="addNewBusiness.zip">
      <option value="">Select</option>
      <option *ngFor="let zip of zips"  [ngValue]="zip.id">{{zip.zipName}}</option>
    </select>
    <small class="text-danger" [class.d-none]="zip.valid || zip.untouched">Please select a zip</small>
  </div>
  </div>

 

 <div class="col-sm-6">
  <div class="form-group">
    <label>Landmark</label>
    <input type="text" #landmark="ngModel" [class.is-invalid]="landmark.invalid && landmark.touched" name="LandMark" class="form-control" [(ngModel)] ="addNewBusiness.landmark" >
  </div>
  </div>

 <div class="col-sm-12">

  <button [disabled]="contactDetailForm.form.invalid" class="btn btn-primary" type="submit">Submit</button>
</div>
</div>

</form>

</div>
</div>

</div>
         
      </div>
  </div>

</div>
</div>
</div>